<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app">
    {{message}}
</div>

<div id="app-2">
    <span v-bind:title="message">
        dd
    </span>
</div>

<div id="app-3">
    <p v-if="seen">看到我了吗</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<ol>
    <todo-item></todo-item>
</ol>
<script>

    Vue.component('todo-item', {
        template: '<li>123</li>'
    });

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue'
      }
    })
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'hellovuejs'
      },
      methods:{
        reverseMessage: function() {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

  var app = new Vue({
    el: '#app',
    data: {
      message: 'Helloworld'
    }
  });

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: '页面加载于' + new Date().toLocaleString()
    }
  });

  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: true
    }
  });

  var app4 = new Vue({
    el: '#app-4',
    data: {
      todos: [
        {text: '111'},
        {text: '222'},
        {text: '333'},
        {text: '444'}
      ]
    }
  });

</script>
</body>
</html>